.content {
  display: flex;
  justify-content: center;

  .createTask {
    display: flex;
    gap: 0.5rem;


    input {
      width: 638px;
      height: 54px;

      background: var(--gray-500);
      color: var(--gray-300);
      border: none;
      border: 1px solid #0D0D0D;
      border-radius: 8px;

      &:focus {
        border: 1px solid var(--purple-dark);
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 90px;
      height: 52px;
      border-radius: 8px;
      border: 0;
      
      background: var(--blue-dark);
      color: var(--gray-100);
      font-weight: bold;
      font-size: 0.875rem;
      padding: 1rem;
    }
  }
}